html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
h1{font-size:2em;margin-bottom:.75em;line-height:1.5}
h2{font-size:1.5em;margin-bottom:.75em;line-height:1}
h3{font-size:1.25em;margin-bottom:1em;line-height:1.2}
h4{font-size:1.125em;margin-bottom:1.33em;line-height:1.33}
h5{font-weight:bold}
h5,h6{font-size:1em;margin-bottom:1.5em;line-height:1.5}
p,address{margin-bottom:1.5em}
article ul{list-style:disc;margin-bottom:1.5em;}
article ul li{margin-left:1.5em}
code{font-family:"Bitstream Vera Sans Mono","Courier",monospace}
body{font:12px/21px "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;background-color:#fafafa;color:#373936}
h1,h2,h3,h4,h5{font-family:"Palatino Linotype","Book Antiqua",Palatino,FreeSerif,serif;font-weight:normal}
a{color:#7bb956;text-decoration:none}
.fieldset{zoom:1;margin:15px;padding:10px;border:1px solid #a3a3a3;-webkit-box-shadow:inset 2px 2px 3px #ebebeb;-moz-box-shadow:inset 2px 2px 3px #ebebeb;box-shadow:inset 2px 2px 3px #ebebeb;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#fff;}
.fieldset:before,.fieldset:after{content:"";display:table}
.fieldset:after{clear:both}
.fieldset.field-text label{display:none}
.fieldset.field-text .fieldwrap input[type='text']{font-size:16px;font-family:"Palatino Linotype","Book Antiqua",Palatino,FreeSerif,serif;width:100%;border:0;padding:0;margin:0;outline:none;background:none}
.page-wrap{width:400px;margin:30px auto;background-color:#f5f5f5;border:1px #bcbcbc solid;-webkit-box-shadow:2px 2px 3px #e6e6e6;-moz-box-shadow:2px 2px 3px #e6e6e6;box-shadow:2px 2px 3px #e6e6e6;}
.page-wrap header{margin:15px;text-align:center;border-bottom:1px dotted #a3a3a3}
#TodoForm{position:relative;}
#TodoForm #add{display:inline-block;padding:.5em 1em;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #e6e6e6));background:-webkit-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);background:-moz-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);background:linear-gradient(top, #fafafa 0%, #e6e6e6 100%);border:1px solid #bfbfbf;font:11px/normal helvetica,arial,freesans,clean,sans-serif;color:#262626;text-decoration:none;text-shadow:1px 1px 0 #fff;font-weight:bold;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;cursor:pointer;position:absolute;top:7px;right:22px}
#TodoForm #add:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #3c7ec0), color-stop(1, #3570aa));background:-webkit-linear-gradient(top, #3c7ec0 0%, #3570aa 100%);background:-moz-linear-gradient(top, #3c7ec0 0%, #3570aa 100%);background:linear-gradient(top, #3c7ec0 0%, #3570aa 100%);color:#fff;text-shadow:-1px -1px 0 #285480;border:1px solid #2d5f91}
#TodoWrapper #TodoList{zoom:1;overflow:hidden;}
#TodoWrapper #TodoList:before,#TodoWrapper #TodoList:after{content:"";display:table}
#TodoWrapper #TodoList:after{clear:both}
#TodoWrapper #TodoList .todo{background-color:#fff;border-top:1px solid #a3a3a3;position:relative;}
#TodoWrapper #TodoList .todo:last-child{border-bottom:1px solid #a3a3a3;margin-bottom:15px}
#TodoWrapper #TodoList .todo .title{margin-bottom:0;margin-left:50px;margin-right:50px;padding:15px;border-left:1px dotted #d4d4d4}
#TodoWrapper #TodoList .todo .complete{position:absolute;overflow:hidden;text-indent:-1000px;width:50px;height:50px;cursor:pointer;top:0;left:0}
#TodoWrapper #TodoList .todo .delete{position:absolute;overflow:hidden;text-indent:-1000px;width:50px;height:50px;cursor:pointer;top:0;right:0}
footer{margin:0 15px 15px;text-align:center;border-top:1px dotted #a3a3a3;}
footer .branding{text-transform:uppercase;font-size:10px;color:#a3a3a3;text-shadow:1px 1px 0 #fafafa;margin-top:15px}
