body {
  margin: 0;
  font: 13px/1.4 "helvetica neue", helvetica, arial, sans-serif;
  padding: 50px 0px;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #252525;
  text-decoration: none;
}
h1 {
  margin: 15px 0;
  font-size: 45px;
}
.description {
  margin-bottom: 30px;
}
pre {
  margin: 15px;
  padding: 10px;
}
button,
a.button,
input[type=button] {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  background: #7fbf4d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7fbf4d), color-stop(1, #72b140));
  background: -webkit-linear-gradient(top, #7fbf4d 0%, #72b140 100%);
  background: -moz-linear-gradient(top, #7fbf4d 0%, #72b140 100%);
  background: linear-gradient(top, #7fbf4d 0%, #72b140 100%);
  border: 1px solid #6ca83d;
  border-bottom: 1px solid #72b140;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #8cc55f;
  -moz-box-shadow: inset 0 1px 0 0 #8cc55f;
  box-shadow: inset 0 1px 0 0 #8cc55f;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 7px 15px 8px 15px;
  text-align: center;
  text-shadow: 0 -1px 0 #6ba83c;
  color: #fff;
}
button:hover,
a.button:hover,
input[type=button]:hover,
button.hover,
a.button.hover,
input[type=button].hover {
#6ca83d
  background: #6ca83d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7fbf4d), color-stop(1, #6ca83d));
  background: -webkit-linear-gradient(top, #7fbf4d 0%, #6ca83d 100%);
  background: -moz-linear-gradient(top, #7fbf4d 0%, #6ca83d 100%);
  background: linear-gradient(top, #7fbf4d 0%, #6ca83d 100%);
  cursor: pointer;
}
button:active,
a.button:active,
input[type=button]:active,
button.active,
a.button.active,
input[type=button].active {
#6ca83d
  border: 1px solid #6ca83d;
  border-bottom: 1px solid #6ca83d;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #7fbf4d), color-stop(1, #6ca83d));
  background: -webkit-linear-gradient(bottom, #7fbf4d 0%, #6ca83d 100%);
  background: -moz-linear-gradient(bottom, #7fbf4d 0%, #6ca83d 100%);
  background: linear-gradient(bottom, #7fbf4d 0%, #6ca83d 100%);
  -webkit-box-shadow: inset 0 0 8px 4px rgba(0,0,0,0.15), 0 1px 0 0 #eee;
  -moz-box-shadow: inset 0 0 8px 4px rgba(0,0,0,0.15), 0 1px 0 0 #eee;
  box-shadow: inset 0 0 8px 4px rgba(0,0,0,0.15), 0 1px 0 0 #eee;
}
button.github,
a.button.github,
input[type=button].github {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  background: #4183c4;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4183c4), color-stop(1, #3876b3));
  background: -webkit-linear-gradient(top, #4183c4 0%, #3876b3 100%);
  background: -moz-linear-gradient(top, #4183c4 0%, #3876b3 100%);
  background: linear-gradient(top, #4183c4 0%, #3876b3 100%);
  border: 1px solid #3570aa;
  border-bottom: 1px solid #3876b3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #548fca;
  -moz-box-shadow: inset 0 1px 0 0 #548fca;
  box-shadow: inset 0 1px 0 0 #548fca;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 7px 15px 8px 15px;
  text-align: center;
  text-shadow: 0 -1px 0 #356fa9;
  color: #fff;
}
button.github:hover,
a.button.github:hover,
input[type=button].github:hover,
button.github.hover,
a.button.github.hover,
input[type=button].github.hover {
#3570aa
  background: #3570aa;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4183c4), color-stop(1, #3570aa));
  background: -webkit-linear-gradient(top, #4183c4 0%, #3570aa 100%);
  background: -moz-linear-gradient(top, #4183c4 0%, #3570aa 100%);
  background: linear-gradient(top, #4183c4 0%, #3570aa 100%);
  cursor: pointer;
}
button.github:active,
a.button.github:active,
input[type=button].github:active,
button.github.active,
a.button.github.active,
input[type=button].github.active {
#3570aa
  border: 1px solid #3570aa;
  border-bottom: 1px solid #3570aa;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4183c4), color-stop(1, #3570aa));
  background: -webkit-linear-gradient(bottom, #4183c4 0%, #3570aa 100%);
  background: -moz-linear-gradient(bottom, #4183c4 0%, #3570aa 100%);
  background: linear-gradient(bottom, #4183c4 0%, #3570aa 100%);
  -webkit-box-shadow: inset 0 0 8px 4px rgba(0,0,0,0.15), 0 1px 0 0 #eee;
  -moz-box-shadow: inset 0 0 8px 4px rgba(0,0,0,0.15), 0 1px 0 0 #eee;
  box-shadow: inset 0 0 8px 4px rgba(0,0,0,0.15), 0 1px 0 0 #eee;
}
#content,
#header {
  margin: 0 0 0 200px;
  width: 740px;
}
#header {
  margin-bottom: 100px;
}
#header .github {
  float: left;
}
#header .clone {
  float: left;
  margin-left: 15px;
  background: #e6e6e6;
  padding: 7px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font: 12px "Bitstream Vera Sans Mono", "Courier", monospace;
}
.comment {
  position: relative;
  padding-bottom: 35px;
  border-top: 2px solid #e6e6e6;
}
.comment h1 {
  font-size: 2em;
  color: #4183c4;
}
.comment .view-source {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 3px 8px 5px 8px;
}
.comment pre {
  max-height: 300px;
  overflow-y: auto;
/* Turn on a 13x13 scrollbar */
/* Turn on single button up on top, and down on bottom */
/* Turn off the down area up on top, and up area on bottom */
/* Place The scroll down button at the bottom */
/* Place The scroll up button at the up */
/* Top area above thumb and below up button */
/* Bottom area below thumb and down button */
/* Track below and above */
/* The thumb itself */
/* Corner */
/* Resizer */
}
.comment pre::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.comment pre::-webkit-scrollbar-button:vertical {
  border-width: 0px;
}
.comment pre::-webkit-scrollbar-button:start:decrement,
.comment pre::-webkit-scrollbar-button:end:increment {
  display: none;
}
.comment pre::-webkit-scrollbar-button:vertical:start:increment,
.comment pre::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
.comment pre::-webkit-scrollbar-button:vertical:increment {
  border-width: 0px;
}
.comment pre::-webkit-scrollbar-button:vertical:decrement {
  border-width: 0px;
}
.comment pre::-webkit-scrollbar-track:vertical {
  border-width: 0px;
}
.comment pre::-webkit-scrollbar-track-piece:vertical:start {
  border-width: 0px;
}
.comment pre::-webkit-scrollbar-track-piece:vertical:end {
  border-width: 0px;
}
.comment pre::-webkit-scrollbar-track-piece {
  display: none;
}
.comment pre::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #e6e6e6;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.comment pre::-webkit-scrollbar-corner:vertical {
  display: none;
}
.comment pre::-webkit-scrollbar-resizer:vertical {
  display: none;
}
.comment pre.source {
  border: 1px solid #6ca83d;
}
.comment ul.tags li span {
  margin-right: 3px;
}
.comment ul.tags li span.type {
  font-weight: bold;
}
.comment ul.tags li span.types {
  font-style: italic;
}
.comment ul.tags li span.description {
  font-size: 85%;
}
#files {
  margin: 0;
  position: fixed;
  top: 85px;
  left: 20px;
  padding: 10px 20px;
}
#files li {
  list-style: none;
  padding: 2px 0;
}
pre {
  padding: 15px;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
p code {
  padding: 3px 5px;
  background: #e6e6e6;
}
