!!!
html
  head
    title= title
    script(src='/socket.io/socket.io.js')
    script(src='/js/vendor.js')
    script(src='/js/templates.js')
    script(src='/js/example.js')
    link(rel='stylesheet', href='/css/main.css')
  body
    .page-wrap
      nav
        block nav
      header
        block header
      section#content
        block content
      footer
        block footer
          .branding I am A Logical Paradox